[Unit]
Description=demo Spring Boot Application
After=network.target

[Service]
EnvironmentFile=/opt/{{ service_name }}/.env
ExecStart=/usr/bin/java -jar /opt/{{ service_name }}/{{ service_name }}.jar
StandardOutput=file:/var/log/${service_name}/${service_name}.log
StandardError=file:/var/log/${service_name}/${service_name}-error.log
SuccessExitStatus=143
User=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
